openapi: 3.1.0
info:
  title: SPD Site Plan Development API
  description: API for the SPD.AI Site Plan Development platform
  version: 1.0.0
  contact:
    name: BidDeed.AI
    url: https://biddeed.ai

servers:
  - url: https://api.biddeed.ai/v1
    description: Production
  - url: http://localhost:8788
    description: Development

tags:
  - name: Chat
  - name: Feasibility
  - name: Properties
  - name: Pipeline
  - name: Health

paths:
  /api/chat:
    post:
      tags: [Chat]
      summary: Send chat message
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message]
              properties:
                message:
                  type: string
                siteContext:
                  $ref: '#/components/schemas/SiteContext'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
                  metadata:
                    type: object

  /api/chat/health:
    get:
      tags: [Health]
      summary: Chat service health
      responses:
        '200':
          description: Healthy

  /api/feasibility/analyze:
    post:
      tags: [Feasibility]
      summary: Analyze site feasibility
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeasibilityRequest'
      responses:
        '200':
          description: Analysis results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeasibilityResponse'

  /api/properties/discover:
    post:
      tags: [Properties]
      summary: Discover properties
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                jurisdiction:
                  type: string
                minAcreage:
                  type: number
                landUseFilter:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Properties found
          content:
            application/json:
              schema:
                type: object
                properties:
                  parcels:
                    type: array
                    items:
                      $ref: '#/components/schemas/Parcel'

  /api/properties/{accountId}:
    get:
      tags: [Properties]
      summary: Get property details
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Property details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyDetail'

  /api/properties/{accountId}/score:
    get:
      tags: [Properties]
      summary: Get ML score
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Scoring result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoringResult'

  /api/pipeline/execute:
    post:
      tags: [Pipeline]
      summary: Execute pipeline
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                jurisdiction:
                  type: string
                minAcreage:
                  type: number
      responses:
        '202':
          description: Started
          content:
            application/json:
              schema:
                type: object
                properties:
                  runId:
                    type: string
                  status:
                    type: string

  /api/pipeline/{runId}/status:
    get:
      tags: [Pipeline]
      summary: Pipeline status
      parameters:
        - name: runId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineStatus'

  /api/health:
    get:
      tags: [Health]
      summary: System health
      responses:
        '200':
          description: Health status

  /api/metrics:
    get:
      tags: [Health]
      summary: Performance metrics
      responses:
        '200':
          description: Metrics

components:
  schemas:
    SiteContext:
      type: object
      properties:
        acreage:
          type: number
        zoning:
          type: string
        typology:
          type: string
          enum: [multifamily, selfStorage, industrial, singleFamily, seniorLiving, medical, retail, hotel]

    FeasibilityRequest:
      type: object
      required: [acreage, zoning, typology]
      properties:
        acreage:
          type: number
        zoning:
          type: string
        typology:
          type: string
        params:
          type: object

    FeasibilityResponse:
      type: object
      properties:
        typology:
          type: string
        acreage:
          type: number
        units:
          type: integer
        grossSF:
          type: integer
        proForma:
          $ref: '#/components/schemas/ProForma'

    ProForma:
      type: object
      properties:
        landCost:
          type: number
        hardCosts:
          type: number
        totalCost:
          type: number
        profit:
          type: number
        margin:
          type: number

    Parcel:
      type: object
      properties:
        account:
          type: string
        parcelID:
          type: string
        siteAddress:
          type: string
        acreage:
          type: number
        taxingDistrict:
          type: string
        landUseCode:
          type: string
        marketValue:
          type: number

    PropertyDetail:
      allOf:
        - $ref: '#/components/schemas/Parcel'
        - type: object
          properties:
            owners:
              type: string
            legalDescription:
              type: string
            photoUrl:
              type: string

    ScoringResult:
      type: object
      properties:
        account:
          type: string
        score:
          type: integer
          minimum: 0
          maximum: 100
        recommendation:
          type: string
        riskLevel:
          type: string
        scoringFactors:
          type: array
          items:
            type: string

    PipelineStatus:
      type: object
      properties:
        runId:
          type: string
        status:
          type: string
          enum: [IN_PROGRESS, COMPLETED, FAILED]
        currentStage:
          type: string
        stagesCompleted:
          type: integer

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

security:
  - bearerAuth: []
